
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
main{
    font-family: 'Inter', sans-serif;
}
.titulo{
    
    color: rgb(55, 0, 255);
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}
.text{

    font-size: 20px;
    text-align: justify;
    font-weight: 300;
}