/* Config padrão */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', serif;
}
html, body{
    height: 100%;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* Header */
header{
    padding: 30px 20%;
}
header.container{
    padding: 30px 20%;
}
header .logo img{
    color: #304ac9;
    cursor: pointer;
    font-size: 30px;
}
header .logo img:hover{
    color: rgb(120, 120, 120);
    cursor: pointer;
    padding: 0 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(2,100,185,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(2,100,185,1);
    box-shadow: 10px 10px 5px 0px rgba(2,100,185,1);
    transform: scale(1.09, 1.09);
    transition: 0.5s;
    border-radius: 4px;
}
header .menu ul{
list-style-type: none ;
}
header .menu ul li{
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    padding: 4px;
    border-radius: 4px;
}
header .menu ul li:not(.not){
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
}
header .menu ul li:not(.not):hover{
    background-color: #3576b8ad;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,3,60,1);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,3,60,1);
    box-shadow: 1px 1px 2px 0px rgba(0,3,60,1);
}
header .menu ul li:not(.not):hover a{ 
    color: white;
}
header .menu ul li input[type=text]{
    padding: 4px 2%;
    width: 100px;
    border-radius:8px;
    border: 0.5px solid rgb(120, 120, 120);
    margin-right: 2px;
}
header .menu ul li input[type=text]:focus{
    outline: 0;
    border: 0.5px solid #1a4a7a;
}
header .menu ul li i{
    border: 0.5px solid rgb(120, 120, 120);
    width:20px;
    padding: 4px;
    border-radius:8px;
}
header .menu ul li i:hover{
    background-color: #3576b8ad;
    color: white;
    border: 0.5px solid #1a4a7a;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,3,60,1);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,3,60,1);
    box-shadow: 1px 1px 2px 0px rgba(0,3,60,1);
}

header .menu ul li a{
    text-decoration: none;
    color: rgb(120,120,120);
}

/* Box captura */
section.box-captura{
    background-color: #1a4cb0;
}
section.box-captura .bar-top{
    background-image: -webkit-background-image: linear-gradient(-45deg, rgba(255,255,255,.15)25%, transparent 25%, transparent 50%, rgba(255,255,255,.15)50%, rgba(255,255,255,.15)75%, transparent 75%, transparent);
	background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,.15)25%, transparent 25%, transparent 50%, rgba(255,255,255,.15)50%, rgba(255,255,255,.15)75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255,255,255,.15)25%, transparent 25%, transparent 50%, rgba(255,255,255,.15)50%, rgba(255,255,255,.15)75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255,255,255,.15)25%, transparent 25%, transparent 50%, rgba(255,255,255,.15)50%, rgba(255,255,255,.15)75%, transparent 75%, transparent);
	height: 17px;
	background-size: 20px 20px;
}
/* Content */

section.content{
    padding: 0 12%;
    margin-bottom: 50px;
    background-color: white;
    margin-top: 30px;
    
}
div.post{
    height: 100%;
    background-color: white;
    width: 80%;
}
.article-box {
	display: inline-block;
	width: 31%;
	padding: 0 1%;
	text-align: left;
}

.article-box img {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}

.article-box h4 {
	font-size: 24px;
	margin-bottom: 15px;
}

.article-box h4 a {
	text-decoration: none;
	color: #666;
}

.article-date {
	font-size: 12px;
	margin-bottom: 15px;
}

.article-resume {
	font-size: 14px;
	margin-bottom: 20px;
}

.article-btn {
	background-color: #3381f3;
	border-color: #3381f3;
	color: #FFF;
}

.article-btn:hover {
	background-color: #FFF;
	color: #3381f3;
}
div.sidebar{
    height: 100%;
    background-color: purple;
    width: 20%;
}
.light-btn {
	background-color: #FFF;
	border: 2px solid #FFF;
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 5px;
	transition: 0.5s;
}
.article-btn {
	background-color: #3381f3;
	border-color: #3381f3;
	color: #FFF;
}

.article-btn:hover {
	background-color: #FFF;
	color: #3381f3;
}


.light-btn:hover {
	background-color: transparent;
	color: #FFF;
}
/* Footer */


footer {
	background-color: #666;
	padding: 5em 0;
	padding-bottom: 40px;
	border-top: 5px solid #3381f3;
    font-size: 15px;
}

footer h2, footer p, footer a, footer span {
	color: #D1D1D1;
}

footer h2 {
	font-weight: 400;
}

footer a {
	text-decoration: none;
}

footer ul {
	padding: 0;
}

footer li {
	list-style: none;
}

.footer-box {
	width: 31%;
	padding: 1%;
	float: left;
}

footer .wrapper:after {
	clear: both;
	content: "";
	display: block;
}

.company-footer {
	width: 80%;
}

.company-footer h2 {
	margin-top: 20px;
}

.company-footer h2, .company-footer p {
	margin-bottom: 15px;
}

.footer-list li {
	margin-bottom: 10px;
}

.footer-list a {
	transition: 0.5s;
}

.footer-list a:hover {
	color: #FFF;
}

.footer-list li:after {
	clear: both;
	content: "";
	display: block;
}

.articles-footer {
	width: 80%;
}

.footer-list.footer-article-list span {
	display: block;
	float: none;
}

.fab {
	font-size: 30px;
	margin-right: 10px;
	float: left;
}

.footer-list li span {
	float: left;
	height: 15px;
	line-height: 30px;
}

.footer-bottom {
	border-top: 1px solid #B2B2B2;
}

.footer-bottom p {
	font-weight: 600;
	margin-top: 40px;
}