* {
    padding: 0;
    margin: 0;
}

header {
    grid-area: cabecalho;
}

nav {
    grid-area: navegacao;
}

main {
    grid-area: conteudo;
}

footer {
    grid-area: rodape;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 'cabecalho cabecalho' 'conteudo navegacao' 'rodape rodape';
}

@media(max-width: 700px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 100px;
        grid-template-areas: 'navegacao' 'conteudo' 'rodape';
    }
    header {
        display: none;
    }
}