@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', serif;
}

header {
    grid-area: cabecalho;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
    padding: 16px 1%;
    border-bottom: 5px solid #3381f3;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    align-content: flex-start;
    list-style-type: none;
    padding-right: 30px;
}

nav ul li {
    margin-left: 15px;
}

header .logo img {
    color: #304ac9;
    cursor: pointer;
    font-size: 30px;
}

header .logo img:hover {
    color: rgb(120, 120, 120);
    cursor: pointer;
    padding: 0 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(2, 100, 185, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(2, 100, 185, 1);
    box-shadow: 10px 10px 5px 0px rgba(2, 100, 185, 1);
    transform: scale(1.09, 1.09);
    transition: 0.5s;
    border-radius: 4px;
}

header nav ul li input[type=text] {
    width: 100px;
    border-radius: 8px;
    border: 0.5px solid rgb(120, 120, 120);
    margin-right: 2px;
}

header nav ul li input[type=text]:focus {
    outline: 0;
    border: 0.5px solid #1a4a7a;
    width: 150px;
}

header nav ul li:not(.not) {
    cursor: pointer;
    font-size: 13px;
}

header nav ul li:not(.not):hover {
    background-color: #3576b8ad;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 3, 60, 1);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 3, 60, 1);
    box-shadow: 1px 1px 2px 0px rgba(0, 3, 60, 1);
}

header nav ul li i:hover {
    background-color: #3576b8ad;
    color: white;
    border: 0.5px solid #1a4a7a;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 3, 60, 1);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 3, 60, 1);
    box-shadow: 1px 1px 2px 0px rgba(0, 3, 60, 1);
}

header nav ul li a {
    text-decoration: none;
    color: rgb(120, 120, 120);
    margin-right: 10px;
}

nav {
    grid-area: navegacao;
}

main {
    grid-area: conteudo;
}

main {
    margin: 30px;
}

.cabecalho {
    margin-bottom: 15px;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
    text-align: center;
}

.article-box {
    width: 80%;
}

.article-box img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.article-box h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

.article-box h4 a {
    text-decoration: none;
    color: #666;
}

.article-date {
    font-size: 12px;
    margin-bottom: 15px;
}

.article-resume {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 16px;
}

.article-btn {
    background-color: #3381f3;
    border-color: #3381f3;
    color: #FFF;
    font-size: 18px
}

.article-btn:hover {
    background-color: #FFF;
    color: #3381f3;
}

.sidebar {
    background-color: purple;
    flex-grow: 2;
    width: 100px;
}

.light-btn {
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.article-btn {
    background-color: #3381f3;
    border-color: #3381f3;
    color: #FFF;
}

.article-btn:hover {
    background-color: #FFF;
    color: #3381f3;
}

.light-btn:hover {
    background-color: transparent;
    color: #FFF;
}

footer {
    grid-area: rodape;
}

footer {
    background-color: #666;
    padding: 5em 0;
    padding-bottom: 40px;
    border-top: 5px solid #3381f3;
    font-size: 15px;
}

.wrapper {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 35% 45% 20%);
}

footer h2,
footer p,
footer a,
footer span {
    color: #D1D1D1;
}

footer h2 {
    font-weight: 400;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer ul {
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: center;
    align-content: center;
}

footer li {
    list-style: none;
}

.company-footer {
    width: 80%;
}

.company-footer h2 {
    margin-top: 20px;
}

.company-footer h2,
.company-footer p {
    margin-bottom: 15px;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-list a {
    transition: 0.5s;
}

.footer-list a:hover {
    color: #FFF;
}

.articles-footer {
    width: 80%;
}

.fab {
    font-size: 30px;
    margin-right: 10px;
}

.footer-list li span {
    height: 15px;
    line-height: 30px;
}

.footer-list li a {
    display: block;
    clear: left;
}

.footer-bottom {
    border-top: 1px solid #B2B2B2;
    margin: 10px;
    text-align: center;
}

.footer-bottom h2 {
    font-weight: 600;
    margin-top: 25px;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 150px 2fr 1fr;
    grid-template-areas: 'cabecalho cabecalho' 'conteudo navegacao' 'rodape rodape';
}

@media(max-width: 700px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 2fr 1fr;
        grid-template-areas: 'navegacao' 'conteudo' 'rodape';
    }
    header {
        display: none;
    }
    .company-footer img {
        width: 115%;
    }
}